<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <base href="/static/site/">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
   <div class="container">
        <div class="form-container" id="signup-form">
            <h1>Đổi mật khẩu</h1>
            <form method="post">
                <% if(success.length >= 1){ %>
                    <label style="color: green;"><%=success%></label>
                <% } %>
                
                <%if(error) {%>
                    <label style="color: red;"><%=error%></label>
                <%}%>
                <label for="new-username">Mật khẩu cũ</label>
                <input type="password" id="new-username" name="currentPassword" required>
                <label for="new-pass">Mật khẩu mới</label>
                <input type="password" id="new-email" name="newPassword" required>
                <label for="new-password">Nhập lại mật khẩu</label>
                <input type="password" id="new-password" name="confirmPassword" required>
                <button type="submit">Đổi mật khẩu</button>
            </form>
            <p><a href="/" id="login-link">Quay lại trang chủ</a></p>
        </div>
   </div>
</body>
</html>