<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <base href="/static/site/">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="form-container" id="login-form">
            <h1>Quên mật khẩu</h1>
            <form method="post">
                <% if(success.length >= 1){ %>
                    <label style="color: green;"><%=success%></label>
                <% } %>
                
                <%if(error) { %>
                    <label style="color: red;"><%=error%></label>
                <%}%>
                <label for="username">Mật khẩu mới</label>
                <input type="password" id="password" name="newPassword" required autofocus>
                <label for="username">Nhập lại mật khẩu</label>
                <input type="password" id="password" name="confirmPassword" required autofocus>
                <button type="submit">Đổi mật khẩu</button>
            </form>
            <p>Bạn chưa có tài khoản? <a href="/register" id="signup-link">Đăng kí ngay</a></p>
            <p><a href="/" id="signup-link">Quay lại trang chủ</a></p>
        </div>
    </div>
</body>
</html>