<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <ul class="nav menu">
        <li><a href="/admin/dashboard"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a></li>
        <li><a href="/admin/user"><svg class="glyph stroked male user "><use xlink:href="#stroked-male-user"/></svg>Quản lý tài khoản</a></li>
        <li><a href="/admin/category"><svg class="glyph stroked open folder"><use xlink:href="#stroked-open-folder"/></svg>Quản lý danh mục</a></li>
        <li><a href="/admin/product"><svg class="glyph stroked bag"><use xlink:href="#stroked-bag"></use></svg>Quản lý sản phẩm</a></li>
        <li><a href="/admin/banner"><svg class="glyph stroked app-window-with-content"><use xlink:href="#stroked-app-window-with-content"/></svg>Quản lý banner</a></li>
        <li><a href="/admin/order"><svg class="glyph stroked calendar-blank"><use xlink:href="#stroked-calendar-blank"/></svg>Quản lý đơn hàng</a></li>
        <li><a href="/admin/statistical"><svg class="glyph stroked calendar-blank"><use xlink:href="#stroked-calendar-blank"/></svg>Thống kê doanh thu</a></li>
        <li><a href="/admin/manager/soldOut"><svg class="glyph stroked calendar-blank"><use xlink:href="#stroked-calendar-blank"/></svg>Thống kê số lượng</a></li>
    </ul>
</div><!--/.sidebar-->