<div id="banner" class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
      <%for(banner of banners) {%>
        <div class="banner-item col-lg-4">
            <img width="100%" src="/static/images/<%=banner.img_banner%>" alt="">
        </div>
      <%}%>
    </div>
</div>