<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>D Shop - Administrator</title>
<base href="/static/admin/" />
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/datepicker3.css" rel="stylesheet">
<link href="css/bootstrap-table.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet">
</head>

<body>
	
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
			<div class="login-panel panel panel-default">
				<div class="panel-heading">Admin - Đổi mật khẩu</div>
				<div class="panel-body">
					<form role="form" method="post">
                        <% if(success.length >= 1){ %>
                            <div class="alert alert-success"><%= success%></div>
                        <% } %>
                        
                        <%if(error) {%>
                            <div class="alert alert-danger"><%= error%></div>
                        <%}%>
                        
						<fieldset>
                            <div class="form-group">
								<input class="form-control" placeholder="Mật khẩu cũ" required name="currentPassword" type="password" autofocus>
							</div>

							<div class="form-group">
								<input class="form-control" placeholder="Mật khẩu mới" required name="newPassword" type="password" autofocus>
							</div>
							<div class="form-group">
								<input class="form-control" placeholder="Nhập lại mật khẩu" required name="confirmPassword" type="password" value="">
							</div>	
							<button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
                            <button class="btn btn-success"><a style="color: white; text-decoration: none;" href="/admin/dashboard">Quay lại</a></button>
						</fieldset>
					</form>
				</div>
			</div>
		</div><!-- /.col-->
	</div><!-- /.row -->	
</body>

</html>
