<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>D Shop - Administrator</title>
<base href="/static/admin/" />
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/datepicker3.css" rel="stylesheet">
<link href="css/bootstrap-table.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet">
</head>

<body>
	
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
			<div class="login-panel panel panel-default">
				<div class="panel-heading">Admin - Register</div>
				<div class="panel-body">
					<form role="form" method="post">
						<% if(success.length >= 1){ %>
							<div class="alert alert-success"><%= success%></div>
						<% } %>
						
						<%if(error) {%>
							<div class="alert alert-danger"><%= error%></div>
						<%}%>
						<fieldset>
                            <div class="form-group">
								<input class="form-control" placeholder="Họ tên" required name="fullName" type="text" autofocus>
							</div>

							<div class="form-group">
								<input class="form-control" placeholder="E-mail" required name="email" type="email">
							</div>

							<div class="form-group">
								<input class="form-control" placeholder="Mật khẩu" required name="password" type="password">
							</div>	

                            <div class="form-group">
								<input class="form-control" placeholder="Nhập lại mật khẩu" required name="password_retype" type="password">
							</div>	
							<p>Bạn đã có tài khoản? <a href="/admin/login">Đăng nhập ngay</a></p>
							<button type="submit" class="btn btn-primary">Đăng kí</button>
						</fieldset>
					</form>
				</div>
			</div>
		</div><!-- /.col-->
	</div><!-- /.row -->	
</body>

</html>